<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-open-overlay-permission" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Open Overlay Permission Plugin</name>
  <js-module name="OpenOverlayPermissionPlugin" src="www/OpenOverlayPermissionPlugin.js">
    <clobbers target="cordova.plugins.OpenOverlayPermissionPlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OpenOverlayPermissionPlugin">
        <param name="android-package" value="cordova.plugin.openoverlaypermission.OpenOverlayPermissionPlugin" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    </config-file>
    <source-file src="src/android/OpenOverlayPermissionPlugin.java" target-dir="src/cordova.plugin.openoverlaypermission" />
  </platform>
</plugin>