<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-open-overlay-permission" version="0.0.1">
   <name>Open Overlay Permission</name>
   <description>Open Overlay Permission to handle overlay permission in android 10 and Xiaomi MIUI operating systems</description>
   <license>MIT</license>
   <js-module name="OpenOverlayPermissionPlugin" src="www/OpenOverlayPermissionPlugin.js">
      <clobbers target="cordova.plugins.OpenOverlayPermissionPlugin" />
   </js-module>
   <platform name="android">
      <source-file src="src/android/OpenOverlayPermissionPlugin.java" target-dir="src/cordova/plugin/OpenOverlayPermissionPlugin" />
   </platform>
</plugin>
